[submodule "backend"]
	path = backend
	url = git@github.com:agriculturedev/cut-dana-platform-backend.git
[submodule "addons/dipasAddons/dataNarrator"]
	path = addons/dipasAddons/dataNarrator
	url = git@github.com:agriculturedev/cut-dana-platform-addon.git
